.message-block {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}

.message-block.guest {
  background: #f1f1f1;
  color: black;
}

.message-block.owner {
  background: #4f7cff;
  color: white;
}